body{
  color: #001e50;
}
.color1{
  color: #001e50;
}
.list-group-item{
 background-color: transparent;
 border: none;
}
.text-small{
  font-size: 0.8rem;
}

.crd{
  border-radius: 30px;
  height: 400px;
  background-color: #001e50;
}


.hr{
width: 150px;
margin-left: 220px;
}

.fr{
  border-radius: 30px;
  height: 400px;
}
/* .bgh{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
}
.card:hover .bgh{
background: #001e50;
} */
/* .card img {
  z-index: 3;
} */

.carhover
{
    position: relative;
    transition: all .2s ease-in;
    
    
}
.carhover:hover
{
    z-index:2;
    transform: scale(1.3);
   
}
.button{
  border: 1px solid #001e50;
  color: #001e50;
  width: 160px;
  margin: auto;
}
.button:hover{
  background-color: #001e50;
  color: white;
}
.boyut{
  margin: auto;
}
.color2{
  color:white
}
.a1{
  text-decoration: none;
}
.ic{
  margin-top: 12px;
}
.ic1{
  margin-top: 32px;
}
.ad
{
  margin:150px auto;
  border: none;
  width: 20rem;
}
.ad1{
  margin-top: 25px;
}
.ab
{
  margin: 25px 60px;
 
}
.ag{
  margin-left: 930px;
}
.bh{
  text-transform: uppercase;
}
